h1{
    font-size: 5em;
    font-weight: bolder;
}

button{
    padding: 10px;
    border-radius: 2px;
    color: white;
    margin: 1px;
}

#App{
    background-color: #0E6CFF;
}

#Acc{
    background-color: #FF8700;
}

#Con{
    background-color: #4CAF50;
}