@use 'partials/header';
@use 'partials/hero';

#viola{
    background-color: #640FC5;
}

#divPc{
    position: relative;
    left: 67vw;
    bottom: 20vw;
}

#divPc img, .riga img{
    width: 23vw;
    height: 23vw;
}

.riga{
    position: relative;
    bottom: 10vw;
}